if SHIELD_MK_01_LEFT

config ZMK_KEYBOARD_NAME
    default "qdmt mk_01"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

endif

if SHIELD_MK_01_LEFT || SHIELD_MK_01_RIGHT

config ZMK_SPLIT
    default y

endif
